<div class="card">
    <car-body>
        <h1>about</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium nostrum quibusdam, incidunt molestias accusantium tenetur omnis fugit delectus, nam repudiandae esse sint? Magnam voluptatum, explicabo sequi ex optio saepe accusantium cupiditate non laudantium ipsa quo cumque nemo impedit provident animi.</p>
    </car-body>
</div>