<div class="jumbotron mt-4">
    <h1 class="display-4">notes app nodejs and mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque minima ea labore minus sed dolores impedit fugit, distinctio, doloremque aspernatur explicabo! Ut magnam modi ipsum ratione culpa quisquam aperiam debitis.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta fuga sint minus quaerat voluptate libero veniam est nostrum repellat explicabo dicta quisquam omnis eligendi delectus, dignissimos laboriosam, voluptatem velit facilis.</p>
    <a href="www.google.com" class="btn btn-primary btn-lg">myweb</a>
</div>